# config.ofs.example

[design]
netlist   = design.json
top       = c17
cell_lib  = cells/osu/osu035.json
liberty   = cells/osu/osu035_stdcells.lib
yosys_ver = 0.61+129

[fault_model]
type                 = stuck_at
collapsing           = false
include_clock_faults = false
include_reset_faults = false

[simulation]
unsupported_cells = fail
verify            = false
verify_tool       = iverilog
verilog_models    = cells/osu/osu035_stdcells.v
tp_file           =

[atpg]
tool   = quaigh
mode   = comb
output = vectors.yml

[report]
output    = coverage_report.json
threshold = 95.0
verbose   = true

[scan]
chains           = 1
max_chain_length =
scan_in          = scan_in
scan_out         = scan_out
scan_enable      = scan_en
run_techmap      = true

[debug]
level = INFO
