read_verilog -sv {{ verilog }}
hierarchy -check -top {{ top }}
proc
flatten
opt_expr
opt_clean
synth -top {{ top }}
dfflibmap -liberty {{ liberty }}
abc -liberty {{ liberty }}
delete t:$scopeinfo
clean
write_json {{ output_json }}
write_verilog {{ output_verilog }}
